/* Add your custom CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #232931;
    color: #eeeeee;
    padding: 20px;
    transition: all 0.5s ease;
}

.sidebar.close {
    width: 150px;
}

.sidebar header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.image-text {
    display: flex;
    align-items: center;
}

.image {
    /* Your image styles here */
}

.text {
    margin-left: 10px;
}

.menu-bar {
    display: flex;
    flex-direction: column;
}

.menu-links {
    list-style: none;
    padding: 0;
}

.nav-link {
    margin-bottom: 15px;
}

.nav-link a {
    color: #eeeeee;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-link a:hover {
    color: #00adb5;
}

.icon {
    margin-right: 10px;
}

/* Style for buttons and spans */
.button-like-span,
.button-like-span span {
    background-color: transparent; /* Remove background color */
    border: none;
    color: inherit; /* Inherit text color */
    padding: 0;
    text-align: left;
    text-decoration: none;
    display: inline;
    font-size: inherit; /* Inherit font size */
    margin: 0;
    cursor: pointer;
}

body {
    margin: 9px;
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items at the top */
    min-height: 100vh; /* Ensure full height of the viewport */
}

.content {
    margin-top: 20px; /* Adjust top margin as needed */
}


/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 150px; /* Adjust the width for smaller screens */
    }

    .sidebar.close {
        width: 100px; /* Adjust the width for smaller screens */
    }

    /* Add more media query rules for specific elements if needed */
}
