*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    position:relative;
}
body{
    font-family: 'poppins',sans-serif;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#eee;
}
.container
{
    padding:1rem;
    width:50rem;
    background-color:darksalmon;
    border-radius: .5rem;
    box-shadow: 0 0 2rem rgb(0,0,0,.3);
    overflow: hidden;
    position:relative;
}
.wrapper{
    margin:2rem 0;
}
.text
{
    margin-bottom: .5rem;
    font-size:1.5em;
    color:#fdfdfd;
    text-align: center;

}
.emoji
{
    font-size:2em;
    display: flex;
    justify-content: center;
}
.emoji>div:not(:first-child)
{
    margin-left: 2rem;
}

.emoji>div{
    cursor: pointer;
    transition:transform .2s ease-in;
}

.emoji>div:hover
{
    transform:scale(1.4)
}
.href_smily{
    text-decoration: none;
 border:none;

 font-size:1.5em;

 border-width: 0;
 background-color:darksalmon;
 cursor: pointer;
 transition:transform .2s ease-in;
}
.happy{
    font-size: 5em;
    display: flex;
    justify-content: center;
}
.reasons
{
    margin-bottom: .5rem;
    font-size:1.5em;
    color:#fdfdfd;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0.5em;
}
.checkedcontainer
{
    
    margin:1em;
    background-color:rgb(151, 196, 214);
    border-radius:1.5em;
    border:1em solid rgb(151, 196, 214);
    overflow:auto;
    float:left;
    cursor: pointer;
    font-size: 0.8em;

}
.btnsubmit
{
    cursor: pointer;
    color:#eee;
    background-color:rgb(151, 196, 214) ;
    border-radius: 0.8em;
    border:2em solid rgb(151,196,214);
    
    /* font-size: 0.5em; */
    /* margin-top: 9.3em; */
    margin-bottom: 0.3em;
    bottom: 0;
}
.submit
{
    width:23px;
margin-left: 21.5em;
margin-top: 13em;
}
.back
{
    width: 60px;
   
    cursor: pointer;
    background-color:rgb(151, 196, 214);
border:1em solid rgb(151,196,214);
text-decoration: none;

}
.href{

    color:#eee;
    text-decoration: none;
    border: none;
}