*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#eee;
}
.container
{
    paddin:1rem;
    width:30rem;
    background-color:darksalmon;
    border-radius: .5rem;
    box-shadow: 0 0 2rem rgb(0,0,0,.3);
    overflow: hidden;
    position:relative;
}
.wrapper{
    margin:4rem 0;
}
.text
{
    margin-bottom: .5rem;
    font-size:1.5em;
    color:#fdfdfd;
    text-align: center;

}
.emoji
{
    font-size:2em;
    display: flex;
    justify-content: center;
}
.emoji>div:not(:first-child)
{
    margin-left: 2rem;
}

.emoji>div{
    cursor: pointer;
    transition:transform .2s ease-in;
}

.emoji>div:hover
{
    transform:scale(1.4)
}